# Server Configuration
DOMAIN=your-domain.example.com

ECR_REGISTRY_BACKEND_URI="123456789012.dkr.ecr.region.amazonaws.com/your-repo-name" # Replace with your ECR repository URI
EC2_HOST="your-ec2-host.example.com"
EC2_USER="app-user"
STACK_NAME="backend"
